### Importando dados

In [4]:
import pandas as pd

In [8]:
dados_portugues = pd.read_csv('https://caelum-online-public.s3.amazonaws.com/1321-nlp-modelos-linguagem/Dados+csv/stackoverflow_portugues.csv')

In [9]:
dados_ingles = pd.read_csv('https://caelum-online-public.s3.amazonaws.com/1321-nlp-modelos-linguagem/Dados+csv/stackoverflow_ingles.csv')

In [10]:
dados_espanhol = pd.read_csv('https://caelum-online-public.s3.amazonaws.com/1321-nlp-modelos-linguagem/Dados+csv/stackoverflow_espanhol.csv')

In [11]:
dados_portugues.head(2)

,Id,Título,Questão,Tags,Pontuação,Visualizações
0,2402,Como fazer hash de senhas de forma segura?,"<p>Se eu fizer o <em><a href=""http://pt.wikipe...",<hash><segurança><senhas><criptografia>,350,22367
1,6441,Qual é a diferença entre INNER JOIN e OUTER JOIN?,<p>Qual é a diferença entre <code>INNER JOIN</...,<sql><join>,276,176953

In [48]:
dados_espanhol.head(2)

,Id,Título,Questão,Tags,Pontuação,Visualizações
0,18232,¿Cómo evitar la inyección SQL en PHP?,<p>Las sentencias dinámicas son sentencias SQL...,<php><mysql><sql><seguridad><inyección-sql>,169,38614
1,197,¿Por qué mis programas no pueden hacer cálculo...,<p>Unas veces los cálculos funcionan correctam...,<matemáticas><coma-flotante><lenguaje-agnóstico>,141,3860

In [49]:
dados_ingles.head(2)

,Id,Título,Questão,Tags,Pontuação,Visualizações
0,11227809,Why is it faster to process a sorted array tha...,<p>Here is a piece of C++ code that seems very...,<java><c++><performance><optimization><branch-...,23057,1358574
1,927358,How do I undo the most recent local commits in...,<p>I accidentally committed the wrong files to...,<git><version-control><git-commit><undo>,19640,7906137

In [13]:
print(dados_portugues.Questão[5])

<p>Desenvolvi uma página em PHP para uso interno da empresa que trabalho e apenas pouquíssimas pessoas a utilizam. Através dessa página é possível fazer algumas consultas, inserções, alterações e remoções de dados de uma tabela em um banco de dados MySQL, porém eu acredito que meu código em PHP não está protegido contra injeção de código SQL, por exemplo:</p>

<pre><code>//----CONSULTA SQL----//
$busca = mysql_query ('insert into Produtos (coluna) values(' . $valor . ')');
</code></pre>

<p>Logo, digamos que o usuário usar a sentença: <code>1); DROP TABLE Produtos;</code> para ao campo <code>valor</code> o comando ficaria: </p>

<pre><code>insert into Produtos (coluna) values(1); DROP TABLE Produtos;
</code></pre>

<p>Ele vai inserir um novo registro cujo o campo <code>coluna</code> será <code>1</code> e logo em seguida ele vai deletar a tabela Produtos.</p>

<p>Como posso melhorar meu código para prevenir essa situação?</p>

In [14]:
# é preciso limpar tags e trechos de códigos já que eles não são de interesse quando 
# se trabalha com linguagem

## Regex Python

In [15]:
import re

In [50]:
questoes_portugues = dados_portugues.Questão[5]
questoes_espanhol = dados_espanhol.Questão[5]
questoes_ingles = dados_ingles.Questão[5]

In [24]:
questoes_portugues

"<p>Desenvolvi uma página em PHP para uso interno da empresa que trabalho e apenas pouquíssimas pessoas a utilizam. Através dessa página é possível fazer algumas consultas, inserções, alterações e remoções de dados de uma tabela em um banco de dados MySQL, porém eu acredito que meu código em PHP não está protegido contra injeção de código SQL, por exemplo:</p>\n\n<pre><code>//----CONSULTA SQL----//\n$busca = mysql_query ('insert into Produtos (coluna) values(' . $valor . ')');\n</code></pre>\n\n<p>Logo, digamos que o usuário usar a sentença: <code>1); DROP TABLE Produtos;</code> para ao campo <code>valor</code> o comando ficaria: </p>\n\n<pre><code>insert into Produtos (coluna) values(1); DROP TABLE Produtos;\n</code></pre>\n\n<p>Ele vai inserir um novo registro cujo o campo <code>coluna</code> será <code>1</code> e logo em seguida ele vai deletar a tabela Produtos.</p>\n\n<p>Como posso melhorar meu código para prevenir essa situação?</p>\n"

In [29]:
re.findall(r"</p>", questoes_portugues)

['</p>', '</p>', '</p>', '</p>']

In [30]:
re.findall(r"<.*?>", questoes_portugues)

['<p>',
 '</p>',
 '<pre>',
 '<code>',
 '</code>',
 '</pre>',
 '<p>',
 '<code>',
 '</code>',
 '<code>',
 '</code>',
 '</p>',
 '<pre>',
 '<code>',
 '</code>',
 '</pre>',
 '<p>',
 '<code>',
 '</code>',
 '<code>',
 '</code>',
 '</p>',
 '<p>',
 '</p>']

In [31]:
print(re.sub(r"<.*?>", " T----E----S----T  ", questoes_portugues))

 T----E----S----T  Desenvolvi uma página em PHP para uso interno da empresa que trabalho e apenas pouquíssimas pessoas a utilizam. Através dessa página é possível fazer algumas consultas, inserções, alterações e remoções de dados de uma tabela em um banco de dados MySQL, porém eu acredito que meu código em PHP não está protegido contra injeção de código SQL, por exemplo: T----E----S----T

 T----E----S----T   T----E----S----T  //----CONSULTA SQL----//
$busca = mysql_query ('insert into Produtos (coluna) values(' . $valor . ')');
 T----E----S----T   T----E----S----T

 T----E----S----T  Logo, digamos que o usuário usar a sentença:  T----E----S----T  1); DROP TABLE Produtos; T----E----S----T   para ao campo  T----E----S----T  valor T----E----S----T   o comando ficaria:  T----E----S----T

 T----E----S----T   T----E----S----T  insert into Produtos (coluna) values(1); DROP TABLE Produtos;
 T----E----S----T   T----E----S----T

 T----E----S----T  Ele vai inserir um novo registro cujo o campo  T----E----S----T  coluna T----E----S----T   será  T----E----S----T  1 T----E----S----T   e logo em seguida ele vai deletar a tabela Produtos. T----E----S----T

 T----E----S----T  Como posso melhorar meu código para prevenir essa situação? T----E----S----T

 ### Usando re.search and re.compile

In [32]:
# procurando por "70"dentro de uma string:
re.search(r"70", "12747473657634873847928370")

In [33]:
# usando re.compile
regex = re.compile(r"70")
regex.search("12747473657634873847928370")

In [34]:
#### verificando eficiência de cada método

In [35]:
from timeit import timeit

In [ ]:
# eficiencia re.search:
setup = """import re"""
timeit("""re.search(r"70", "12747473657634873847928370")""", setup)

# em cada uma das 1milhão de chamadas, o regex é criado

0.4842530420000912

In [39]:
# eficiencia re.compile:
setup = """import re 
regex = re.compile(r"70")"""
timeit("""regex.search("12747473657634873847928370")""", setup)

# o regex é criado apenas uma vez e depois é chamado 1milhão de vezes

0.14139370900011272

In [40]:
# o re.compile é 3x mais rápido para realizar funcões

### Regex: Tratamento dos dados

In [43]:
# criando funcão para limpar o texto:
def remove(textos, regex):
    if type(textos) == str:
        return regex.sub("", textos) # realiza substituição se for um texto
    else:
        return [regex.sub("", texto) for texto in textos] #realiza substituição para todos os textos

In [46]:
regex_html = re.compile(r"<.*?>")
questao_sem_tag = remove(questoes_portugues, regex_html)
print(questao_sem_tag)

Desenvolvi uma página em PHP para uso interno da empresa que trabalho e apenas pouquíssimas pessoas a utilizam. Através dessa página é possível fazer algumas consultas, inserções, alterações e remoções de dados de uma tabela em um banco de dados MySQL, porém eu acredito que meu código em PHP não está protegido contra injeção de código SQL, por exemplo:

//----CONSULTA SQL----//
$busca = mysql_query ('insert into Produtos (coluna) values(' . $valor . ')');


Logo, digamos que o usuário usar a sentença: 1); DROP TABLE Produtos; para ao campo valor o comando ficaria:

insert into Produtos (coluna) values(1); DROP TABLE Produtos;


Ele vai inserir um novo registro cujo o campo coluna será 1 e logo em seguida ele vai deletar a tabela Produtos.

Como posso melhorar meu código para prevenir essa situação?

#### Removendo trechos de código